# Homework 4 - Getting to know your customers

In [70]:
import pandas as pd
import numpy as np
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import random
from sympy import *
import time

pd.options.mode.chained_assignment = None

## 1. Finding Similar Costumers

The idea behind the work is to implement *Locality-Sensitive Hashing (LSH)* algorithm to find the most similar users to the query.


We mixed up different approaches taking inspiration mainly from [this site](https://www.learndatasci.com/tutorials/building-recommendation-engine-locality-sensitive-hashing-lsh-python/) and the [book](http://infolab.stanford.edu/~ullman/mmds/ch3n.pdf). The work is composed of the following steps:


<ol>
  <li>Set up the data</li>
  <li>Fingerprint hashing</li>
  <li>Locality Sensitive Hashing</li>
</ol>

### 1.1 Set up the data

For the sake of this first part, not all columns are necessary since comparing each field single handedly can be quite time-expensive. 

We have therefore decided to keep only some columns of the dataset and to create a new one, *CustGroupsBalance*, in order to decrease the number of values ​​to consider and improve the execution time of the algorithm in the next phase.

In [53]:
bank_transactions = pd.read_csv(r"C:\Users\Marina\OneDrive\Desktop\ADM_HW4\bank_transactions.csv")
bank_transactions = bank_transactions.dropna()
bank_transactions = bank_transactions.reset_index(drop=True)

We group the transactions according to their account balance: *lowBalance*, *mediumBalance*, *highBalance*.

In [54]:
groupBalance = []

for balance in bank_transactions['CustAccountBalance']:
    if balance < 5000:
        groupBalance.append('lowBalance')
    elif 5000 <= balance < 50000:
        groupBalance.append('mediumBalance')
    else:
        groupBalance.append('highBalance')
        

bank_transactions['CustGroupsBalance'] = groupBalance

After the pre-processing phase, the dataset with which we will work is presented.

In [55]:
transactions = bank_transactions[['CustomerDOB',  'CustGender', 'CustLocation', 'CustGroupsBalance', 'TransactionAmount (INR)', 'TransactionDate']]
transactions

,CustomerDOB,CustGender,CustLocation,CustGroupsBalance,TransactionAmount (INR),TransactionDate
0,10/1/94,F,JAMSHEDPUR,mediumBalance,25.0,2/8/16
1,4/4/57,M,JHAJJAR,lowBalance,27999.0,2/8/16
2,26/11/96,F,MUMBAI,mediumBalance,459.0,2/8/16
3,14/9/73,F,MUMBAI,highBalance,2060.0,2/8/16
4,24/3/88,F,NAVI MUMBAI,mediumBalance,1762.5,2/8/16
...,...,...,...,...,...,...
1041609,8/4/90,M,NEW DELHI,mediumBalance,799.0,18/9/16
1041610,20/2/92,M,NASHIK,mediumBalance,460.0,18/9/16
1041611,18/5/89,M,HYDERABAD,highBalance,770.0,18/9/16
1041612,30/8/78,M,VISAKHAPATNAM,mediumBalance,1000.0,18/9/16
1041613,5/3/84,M,PUNE,highBalance,1166.0,18/9/16

### 1.2 Fingerprint hashing

We implemented **our MinHash function**: the goal was to replace a large set of values with a smaller *"signature"* that still preserves the underlying similarity metric.

We established the following pipeline:

1. At first, we create the shingles matrix, where a shingle is an individual element that can be a part of a dataset like a character, integer or date.
1. We randomly permute the shingles matrix;
2. For each transaction, start from the top and find the position of the first shingle match and use the shingle indexes to represent the transaction (signature);
3. We repeat it several times and each time we append the result to the signature matrix.

Since permutation is a computation heavy operation especially for large datasets, we use a hashing/mapping function that typically reorders the elements using the simple math operation:

 $$ h(x) = (ax + b)  \% c  $$
 
 where a and b are random integers smaller than c and c is the prime number slightly higher than the total number of different elements in the dataset (that is the number of elements in the shingles matrix).

In [56]:
def permute(x, a, b, c):
    return (a*x + b) % c

In [57]:
def createShinglesMatrix(df):
    shingles_matrix = []

    for column in df:
        for shingle in df[column].unique():
            shingles_matrix.append(shingle)

    diff = nextprime(len(shingles_matrix)) - len(shingles_matrix)
    for _ in range(diff):
        shingles_matrix.append('NA')

    return shingles_matrix

In [58]:
def createListOfPermutations(arr, permutations):
    listOfPermutations = []
    for j in range(30):
        l = {}
        for i,item in enumerate(arr):
            l[item] = permute(i, permutations[j][0], permutations[j][1], len(arr))

        listOfPermutations.append(l)

    return listOfPermutations

In [59]:
def createSignature(df, listOfPermutations, nPermutations):
    signature_matrix=[]

    for row in df.iterrows():
        signature_k =[]
        for j in range(nPermutations):
            index=[listOfPermutations[j][row[1][s]] for s in range(6)]
            signature_k.append(min(index))
        
        signature_matrix.append(signature_k)

    return signature_matrix

In [60]:
# initialization of the shingles matrix
listOfValues = createShinglesMatrix(transactions) 
# computation of random values for "a" and "b" parameters
permutations = [(random.randint(0,len(listOfValues)), random.randint(0,len(listOfValues))) for _ in range(30)] 
# initialization of the list of permutations
listOfPermutations = createListOfPermutations(listOfValues, permutations) 
# computation of the signature
signatureA = createSignature(transactions, listOfPermutations, 10)

In [71]:
transactions['signature'] = signatureA

In [72]:
transactions

,CustomerDOB,CustGender,CustLocation,CustGroupsBalance,TransactionAmount (INR),TransactionDate,signature,7
0,10/1/94,F,JAMSHEDPUR,mediumBalance,25.0,2/8/16,"[17551, 22446, 19342, 9406, 8235, 5070, 4605, ...",NaN
1,4/4/57,M,JHAJJAR,lowBalance,27999.0,2/8/16,"[3731, 4762, 10173, 11670, 38509, 11104, 46906...",NaN
2,26/11/96,F,MUMBAI,mediumBalance,459.0,2/8/16,"[17551, 15866, 1004, 9406, 37987, 16935, 37045...",NaN
3,14/9/73,F,MUMBAI,highBalance,2060.0,2/8/16,"[17551, 15866, 9581, 9406, 23372, 39185, 12541...",NaN
4,24/3/88,F,NAVI MUMBAI,mediumBalance,1762.5,2/8/16,"[13582, 19584, 412, 9406, 14414, 16935, 2680, ...",NaN
...,...,...,...,...,...,...,...,...
1041609,8/4/90,M,NEW DELHI,mediumBalance,799.0,18/9/16,"[4673, 37647, 31012, 11670, 20721, 16935, 239,...",NaN
1041610,20/2/92,M,NASHIK,mediumBalance,460.0,18/9/16,"[24431, 42339, 31012, 11670, 3773, 16935, 2309...",NaN
1041611,18/5/89,M,HYDERABAD,highBalance,770.0,18/9/16,"[7937, 42339, 28511, 11670, 23372, 27533, 8871...",NaN
1041612,30/8/78,M,VISAKHAPATNAM,mediumBalance,1000.0,18/9/16,"[2704, 25226, 31012, 11670, 38977, 2186, 205, ...",NaN
1041613,5/3/84,M,PUNE,highBalance,1166.0,18/9/16,"[35934, 16172, 25242, 11670, 23372, 37046, 220...",NaN

In [11]:
signatureAdf = pd.DataFrame(signatureA)
trasposed_signatureA = signatureAdf.T.copy(deep = True)
trasposed_signatureA.index = [i for i in range(1,11)]
trasposed_signatureA

,0,1,2,3,4,5,6,7,8,9,...,1041604,1041605,1041606,1041607,1041608,1041609,1041610,1041611,1041612,1041613
1,13488,12771,13488,6367,9956,12054,35571,5650,13488,11337,...,31273,10951,13488,38443,7088,8522,8276,28898,13488,37812
2,12769,27326,12769,12769,12769,7209,12769,27326,10258,27326,...,12769,12769,27326,27326,4594,5029,4968,214,3405,27326
3,27388,27388,8646,15176,27388,27388,27388,27388,9349,15879,...,6344,19145,25822,17226,14973,13159,27888,33715,244,374
4,32426,3782,61070,18104,82015,18104,3782,10405,28035,3782,...,3782,34944,10405,3782,1689,10405,10405,10405,10405,10405
5,356,6630,356,3198,356,3198,3198,9659,356,9659,...,3198,356,356,5271,7833,356,356,17857,356,14911
6,22913,17361,22913,5687,22913,991,22913,12766,22913,17361,...,35733,37703,2773,17361,12376,17361,17361,17361,17361,5955
7,5749,12953,5749,6256,5749,17667,6256,4273,5749,6256,...,22443,2242,5749,33044,11374,5749,5749,9795,5749,33044
8,15558,743,32613,30373,17798,2983,21511,6696,16005,1190,...,23539,49594,28010,33060,18687,1891,25212,30373,22079,30373
9,4936,14706,24476,33041,26247,33041,33041,4980,14750,24520,...,6168,25394,15673,25606,7842,26247,26133,42811,26247,30400
10,6784,33409,6784,6784,6784,6784,6784,32911,3592,39990,...,6784,6784,19791,4090,19791,19791,19791,8103,19791,4090

The signature matrix above is now divided into b bands. In our case, we are setting *b = 2*, which means that we will consider any transactions with the same first two rows to be similar. The larger we make b the less likely there will be another transaction that matches all of the same permutations.

We computed buckets for each band with the *create_buckets(b, trasposed_signature)* function, that will take as input a band b and the transposition of the signature matrix and will return a dict contraining as key the bucket ids and as value a list of the transactions indexes that were mapped to that bucket for the given band b: $$ {bucket_{id}} = [transation1_{idx}, transaction2_{idx},...] $$

In [12]:
def listAlphabet():
  return list(map(chr, range(97, 123)))

In [13]:
def create_bucktes(b, trasposed_signature): 
    buckets = {}
    letters = listAlphabet()

    for i in range(1, len(trasposed_signature), b):
        sub = pd.DataFrame(trasposed_signature.loc[i:i+b-1].copy(deep = True))
        for col in sub:
            arr = sub[col].to_numpy(copy = True)
            
            k = letters[int(i/2 + 1)]
            for j in range(len(arr)):
                k += str(arr[j])

            if k in buckets:
                buckets[k].append(col)

            else:
                buckets[k] = [col]


    return buckets

In [14]:
bucketsA = create_bucktes(2, trasposed_signatureA)

### 1.3 Locality Sensitive Hashing

At first, we pre-process the query dataset as we did for the original dataset.

What we're going to do is compare two pairs of signatures, one from the query and one from the original dataset.

We need to focus our attention only on pairs that are likely to *be similar*, without investigating every pair. There is a general theory of how to provide such focus, called **locality-sensitive hashing (LSH)** (or near-neighbor search).

In [16]:
query = pd.read_csv(r"C:\Users\Marina\OneDrive\Desktop\ADM_HW4\query_users.csv")

In [17]:
groupBalance = []

for balance in query['CustAccountBalance']:
    if balance < 5000:
        groupBalance.append('lowBalance')
    elif 5000 <= balance < 50000:
        groupBalance.append('mediumBalance')
    else:
        groupBalance.append('highBalance')
        

query['CustGroupsBalance'] = groupBalance

In [18]:
final_query = query[['CustomerDOB',  'CustGender', 'CustLocation', 'CustGroupsBalance', 'TransactionAmount (INR)', 'TransactionDate']]

In [74]:
signatureB = createSignature(final_query, listOfPermutations, 10)
final_query['signature'] = signatureB

In [20]:
final_query

,CustomerDOB,CustGender,CustLocation,CustGroupsBalance,TransactionAmount (INR),TransactionDate,signature
0,27/7/78,M,DELHI,highBalance,65.00,2/9/16,"[27773, 27326, 17002, 10405, 52077, 4369, 2061..."
1,6/11/92,M,PANCHKULA,mediumBalance,6025.00,2/9/16,"[13488, 7582, 3056, 10405, 356, 7053, 5749, 41..."
2,14/8/91,M,PATNA,mediumBalance,541.50,10/8/16,"[13488, 19797, 8419, 10405, 356, 4385, 5749, 5..."
3,3/1/87,M,CHENNAI,highBalance,1000.00,29/8/16,"[8051, 22275, 13862, 10405, 9552, 17361, 24768..."
4,4/1/95,M,GURGAON,highBalance,80.00,25/9/16,"[12545, 10258, 12456, 7064, 17574, 17361, 3304..."
5,10/1/81,M,WORLD TRADE CENTRE BANGALORE,mediumBalance,303.00,11/9/16,"[9235, 2492, 22487, 8373, 356, 13983, 5749, 39..."
6,20/9/76,F,CHITTOOR,mediumBalance,20.00,28/8/16,"[13488, 12769, 27888, 2625, 356, 13166, 5749, ..."
7,10/4/91,M,MOHALI,lowBalance,50.00,2/8/16,"[10620, 24815, 838, 3782, 20395, 17361, 17564,..."
8,19/3/90,M,MOHALI,lowBalance,300.00,26/8/16,"[12103, 24815, 32401, 3782, 19879, 17361, 7431..."
9,19/12/70,M,SERAMPORE,highBalance,299.00,27/8/16,"[14093, 9548, 42980, 5136, 6957, 3425, 19721, ..."
10,26/2/89,M,BANGALORE,mediumBalance,300.00,6/8/16,"[7088, 27326, 8146, 4442, 356, 17361, 5749, 31..."
11,22/8/84,M,BANGALORE,lowBalance,2244.00,11/8/16,"[7088, 27326, 33555, 3782, 7833, 5512, 11374, ..."
12,21/9/79,M,LUDHIANA,mediumBalance,690.00,22/8/16,"[4937, 7718, 27888, 6249, 356, 9921, 5749, 484..."
13,17/6/92,F,BANGALORE,mediumBalance,4912.00,12/8/16,"[7088, 6513, 939, 45348, 356, 70013, 5749, 186..."
14,1/8/86,M,HYDERABAD,mediumBalance,284.00,11/9/16,"[9235, 214, 14190, 10405, 356, 13983, 5749, 24..."
15,1/1/1800,M,GURGAON,mediumBalance,1000.00,31/8/16,"[13488, 10258, 12456, 10405, 356, 6270, 5749, ..."
16,17/12/91,F,MUMBAI,lowBalance,401.00,5/8/16,"[20846, 12769, 34140, 3782, 67, 27737, 6256, 2..."
17,1/1/1800,M,NEW DELHI,highBalance,1347.00,9/8/16,"[8522, 27326, 7825, 10405, 26013, 6270, 33044,..."
18,7/7/93,M,GURGAON,mediumBalance,60.00,8/9/16,"[10257, 10258, 12456, 2215, 356, 17361, 5749, ..."
19,21/6/89,M,CHENNAI,mediumBalance,404.00,3/8/16,"[13488, 12740, 13862, 10405, 356, 11677, 5749,..."
20,18/9/82,F,NOIDA,highBalance,40000.00,22/8/16,"[13593, 7718, 29497, 6249, 3198, 8169, 5192, 3..."
21,21/8/62,F,BANGALORE,highBalance,1280.00,14/9/16,"[7088, 2247, 53752, 17329, 3198, 47161, 3188, ..."
22,17/8/88,M,NEW DELHI,highBalance,197.00,10/8/16,"[8522, 5369, 13159, 5710, 12108, 17361, 29101,..."
23,5/12/65,M,AHMEDABAD,mediumBalance,3460.00,28/8/16,"[13488, 27326, 27888, 10405, 356, 17361, 5749,..."
24,10/7/94,M,PRAKASAM DIST (AP),mediumBalance,150.00,2/8/16,"[13488, 19589, 27388, 10405, 356, 17361, 1012,..."
25,25/10/75,M,BANGALORE,mediumBalance,862.44,4/8/16,"[7088, 10995, 27888, 6531, 356, 13529, 5749, 1..."
26,1/11/89,M,VADODARA,highBalance,990.00,25/9/16,"[1352, 856, 31606, 10405, 25390, 17361, 13970,..."
27,16/10/83,M,MUMBAI,highBalance,220.00,9/9/16,"[9710, 27326, 67778, 10405, 9659, 17361, 6256,..."
28,16/2/87,M,HYDERABAD,mediumBalance,199.00,8/8/16,"[13488, 214, 27888, 3043, 356, 2763, 5749, 918..."
29,1/1/1800,M,MUMBAI,lowBalance,1933.52,30/8/16,"[19378, 20042, 20443, 3782, 9659, 6270, 6256, ..."
30,10/12/86,M,AURANGABAD,highBalance,1137.00,7/8/16,"[16405, 27326, 44020, 10405, 16075, 10823, 228..."
31,6/6/69,M,HODEL,highBalance,3000.00,4/8/16,"[23024, 27326, 21039, 1990, 5271, 17361, 18613..."
32,1/1/1800,M,CHENNAI,mediumBalance,282.90,17/8/16,"[13488, 27326, 13862, 10405, 356, 6270, 5749, ..."
33,7/4/84,F,NEW DELHI,highBalance,1290.23,9/9/16,"[8522, 12769, 13159, 18104, 3198, 34415, 39741..."
34,15/9/91,M,SECUNDERABAD,highBalance,2937.48,11/9/16,"[9235, 7747, 13926, 10405, 36126, 13983, 19246..."
35,28/1/91,F,N T PUNE,mediumBalance,212.00,10/9/16,"[8132, 12769, 13248, 33056, 356, 63292, 5749, ..."
36,6/2/86,M,NEW DELHI,highBalance,3180.00,1/8/16,"[8522, 27326, 6264, 709, 52077, 17361, 33044, ..."
37,31/7/87,M,BANGALORE,lowBalance,100.86,14/8/16,"[7088, 557, 6659, 3782, 7833, 3776, 11374, 356..."
38,29/5/84,M,NEW DELHI,mediumBalance,5598.00,2/9/16,"[8522, 27326, 13159, 10405, 356, 17361, 3291, ..."
39,22/1/88,M,HYDERABAD,mediumBalance,60.00,2/8/16,"[13488, 214, 27388, 10405, 356, 17361, 5749, 6..."
40,18/2/87,M,CHENNAI,lowBalance,20.00,24/8/16,"[14971, 20949, 2227, 3782, 18569, 17361, 24768..."
41,1/3/86,M,IMPHAL,mediumBalance,203.00,19/8/16,"[2954, 27326, 19145, 10405, 356, 17361, 2313, ..."
42,2/11/81,F,NEW DELHI,highBalance,1500.00,12/9/16,"[8522, 12769, 13159, 1689, 3198, 20307, 25943,..."
43,2/12/90,F,NEW DELHI,lowBalance,199.00,4/8/16,"[8522, 12769, 13159, 3043, 3198, 30059, 28562,..."
44,6/9/72,M,GHAZIABAD,highBalance,347.30,24/8/16,"[14971, 11379, 9552, 10405, 18569, 16144, 1807..."
45,30/5/90,F,DELHI,highBalance,250.00,5/9/16,"[32980, 12769, 24660, 1028, 3198, 4124, 4170, ..."
46,26/9/74,M,CHENNAI,mediumBalance,60.00,17/8/16,"[13488, 7918, 13862, 10405, 356, 17361, 5749, ..."
47,2/7/91,M,DIST NORTH GOA BARDEZ,highBalance,90.00,14/9/16,"[25896, 23491, 36038, 10405, 42518, 17361, 283..."
48,7/4/94,F,PUNE,mediumBalance,1014.00,5/9/16,"[13488, 12769, 27888, 7398, 356, 36240, 5749, ..."
49,5/1/87,M,DELHI,mediumBalance,240.00,4/9/16,"[13488, 27326, 27888, 10405, 356, 4369, 5749, ..."

In [21]:
signatureBdf = pd.DataFrame(signatureB)
trasposed_signatureB = signatureBdf.T.copy(deep = True)
trasposed_signatureB.index = [i for i in range(1,11)]
trasposed_signatureB

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
1,27773,13488,13488,8051,12545,9235,13488,10620,12103,14093,...,14971,2954,8522,8522,14971,32980,13488,25896,13488,13488
2,27326,7582,19797,22275,10258,2492,12769,24815,24815,9548,...,20949,27326,12769,12769,11379,12769,7918,23491,12769,27326
3,17002,3056,8419,13862,12456,22487,27888,838,32401,42980,...,2227,19145,13159,13159,9552,24660,13862,36038,27888,27888
4,10405,10405,10405,10405,7064,8373,2625,3782,3782,5136,...,3782,10405,1689,3043,10405,1028,10405,10405,7398,10405
5,52077,356,356,9552,17574,356,356,20395,19879,6957,...,18569,356,3198,3198,18569,3198,356,42518,356,356
6,4369,7053,4385,17361,17361,13983,13166,17361,17361,3425,...,17361,17361,20307,30059,16144,4124,17361,17361,36240,4369
7,20612,5749,5749,24768,33044,5749,5749,17564,7431,19721,...,24768,2313,25943,28562,18071,4170,5749,28303,5749,5749
8,30373,41945,5154,30373,19723,39582,27951,45188,43796,8793,...,29616,46159,18245,17935,29614,21572,9052,20617,1837,20170
9,21511,26247,26247,40014,42811,26247,347,2004,2004,19887,...,36017,25394,7842,33041,277,33041,11844,26203,17763,26247
10,32911,7280,6843,20942,32465,12944,6784,43182,43182,368,...,20942,8591,6784,6784,32911,6784,20942,32911,4090,12712

In [22]:
bucketsB = create_bucktes(2, trasposed_signatureB)

With the *find_neighbors(bucketsA, bucketsB)* function we are going to take as input two buckets (structured like dictionaries), respectively the one related to the original dataset and the one related to the query, and we will return for each element of the query which elements of the original dataset ended up in the same bucket as the latter.

In [24]:
def find_neighbors(bucketsA, bucketsB):
    neighbors = {}
    for k,v in bucketsB.items():
        if k in bucketsA:
            for elemA in v:
                for elemB in bucketsA[k]:
                    if elemA in neighbors:
                        neighbors[elemA].append(elemB)
                    else:
                        neighbors[elemA] = [elemB]
    return neighbors

With the *check_neighbors(dfA, dfB, neighbors, threshold)* function we take as input the original dataframe and that of the query, a list of all the neighbors for each element of the query computed as described above and we check how much their signatures match computing their similarity through the *jaccard_similarity(signA, signB)* function. We will return a dictionary, *similars*, in which the keys are the query indexes and the values the ids of the costumers who actually respect the threshold value.

Those dissimilar pairs that do map to the same bucket are false positives; we hope these will be only a small fraction of all pairs.

In [46]:
def jaccard_similarity(signA, signB):
    return sum([1 for a, b in zip(signA, signB) if a == b]) / len(signA)

In [25]:
def check_neighbors(dfA, dfB, neighbors, threshold):
    similars = {}
    for k,v in neighbors.items():
        signB = dfB.loc[k]['signature']
        for elem in v:
            signA = dfA.loc[elem]['signature']
            sim = jaccard_similarity(signA, signB)
            if sim >= threshold:
                if k in similars:
                    similars[k].append(bank_transactions.loc[elem]['CustomerID'])
                else:
                    similars[k] = [bank_transactions.loc[elem]['CustomerID']]

    return similars

In [26]:
neighbors = find_neighbors(bucketsA, bucketsB)

In [49]:
start_time = time.time()
similars = check_neighbors(transactions, final_query, neighbors, 0.5)
end_time = time.time()
print("LSH Similarity computed in: " + str((end_time - start_time)//60) + " minutes." )

LSH Similarity computed in: 11.0 minutes.

In [73]:
final_query['similars'] = np.nan
for k,v in similars.items():
    final_query['similars'].loc[k] = sorted(v)

In [31]:
final_query

,CustomerDOB,CustGender,CustLocation,CustGroupsBalance,TransactionAmount (INR),TransactionDate,signature,similars
0,27/7/78,M,DELHI,highBalance,65.00,2/9/16,"[27773, 27326, 17002, 10405, 52077, 4369, 2061...","[C1014370, C1018226, C1019523, C1021572, C1030..."
1,6/11/92,M,PANCHKULA,mediumBalance,6025.00,2/9/16,"[13488, 7582, 3056, 10405, 356, 7053, 5749, 41...","[C1012265, C1014228, C1015334, C1017162, C1023..."
2,14/8/91,M,PATNA,mediumBalance,541.50,10/8/16,"[13488, 19797, 8419, 10405, 356, 4385, 5749, 5...","[C1011124, C1011124, C1011127, C1011127, C1013..."
3,3/1/87,M,CHENNAI,highBalance,1000.00,29/8/16,"[8051, 22275, 13862, 10405, 9552, 17361, 24768...","[C1011140, C1011159, C1011171, C1013425, C1013..."
4,4/1/95,M,GURGAON,highBalance,80.00,25/9/16,"[12545, 10258, 12456, 7064, 17574, 17361, 3304...","[C1038384, C1138321, C1158630, C1234065, C1312..."
5,10/1/81,M,WORLD TRADE CENTRE BANGALORE,mediumBalance,303.00,11/9/16,"[9235, 2492, 22487, 8373, 356, 13983, 5749, 39...","[C1012629, C1013912, C1018636, C1019344, C1019..."
6,20/9/76,F,CHITTOOR,mediumBalance,20.00,28/8/16,"[13488, 12769, 27888, 2625, 356, 13166, 5749, ...","[C1010014, C1010060, C1010113, C1010241, C1010..."
7,10/4/91,M,MOHALI,lowBalance,50.00,2/8/16,"[10620, 24815, 838, 3782, 20395, 17361, 17564,...","[C1010342, C1011912, C1011944, C1016516, C1019..."
8,19/3/90,M,MOHALI,lowBalance,300.00,26/8/16,"[12103, 24815, 32401, 3782, 19879, 17361, 7431...","[C1010342, C1010342, C1022861, C1089230, C1094..."
9,19/12/70,M,SERAMPORE,highBalance,299.00,27/8/16,"[14093, 9548, 42980, 5136, 6957, 3425, 19721, ...","[C1414814, C1414814, C2914879, C2914879, C2914..."
10,26/2/89,M,BANGALORE,mediumBalance,300.00,6/8/16,"[7088, 27326, 8146, 4442, 356, 17361, 5749, 31...","[C1010066, C1010066, C1010274, C1010274, C1010..."
11,22/8/84,M,BANGALORE,lowBalance,2244.00,11/8/16,"[7088, 27326, 33555, 3782, 7833, 5512, 11374, ...","[C1010037, C1010286, C1010413, C1010485, C1010..."
12,21/9/79,M,LUDHIANA,mediumBalance,690.00,22/8/16,"[4937, 7718, 27888, 6249, 356, 9921, 5749, 484...","[C1010384, C1011243, C1011577, C1011577, C1012..."
13,17/6/92,F,BANGALORE,mediumBalance,4912.00,12/8/16,"[7088, 6513, 939, 45348, 356, 70013, 5749, 186...","[C1010135, C1010135, C1010247, C1010274, C1010..."
14,1/8/86,M,HYDERABAD,mediumBalance,284.00,11/9/16,"[9235, 214, 14190, 10405, 356, 13983, 5749, 24...","[C1013912, C1018636, C1019633, C1020047, C1020..."
15,1/1/1800,M,GURGAON,mediumBalance,1000.00,31/8/16,"[13488, 10258, 12456, 10405, 356, 6270, 5749, ...","[C1010039, C1010068, C1010192, C1010220, C1010..."
16,17/12/91,F,MUMBAI,lowBalance,401.00,5/8/16,"[20846, 12769, 34140, 3782, 67, 27737, 6256, 2...","[C1323636, C1336313, C1520247, C1524921, C1834..."
17,1/1/1800,M,NEW DELHI,highBalance,1347.00,9/8/16,"[8522, 27326, 7825, 10405, 26013, 6270, 33044,...","[C1010274, C1010327, C1011028, C1011028, C1013..."
18,7/7/93,M,GURGAON,mediumBalance,60.00,8/9/16,"[10257, 10258, 12456, 2215, 356, 17361, 5749, ...","[C1010220, C1010220, C1010243, C1010642, C1011..."
19,21/6/89,M,CHENNAI,mediumBalance,404.00,3/8/16,"[13488, 12740, 13862, 10405, 356, 11677, 5749,...","[C1011248, C1012086, C1012861, C1014279, C1014..."
20,18/9/82,F,NOIDA,highBalance,40000.00,22/8/16,"[13593, 7718, 29497, 6249, 3198, 8169, 5192, 3...","[C1024475, C1066236, C1074126, C1140332, C1253..."
21,21/8/62,F,BANGALORE,highBalance,1280.00,14/9/16,"[7088, 2247, 53752, 17329, 3198, 47161, 3188, ...","[C1010414, C1011553, C1012824, C1013411, C1015..."
22,17/8/88,M,NEW DELHI,highBalance,197.00,10/8/16,"[8522, 5369, 13159, 5710, 12108, 17361, 29101,...","[C1140254, C1220383, C1221758, C1262115, C1262..."
23,5/12/65,M,AHMEDABAD,mediumBalance,3460.00,28/8/16,"[13488, 27326, 27888, 10405, 356, 17361, 5749,...","[C1010012, C1010012, C1010031, C1010039, C1010..."
24,10/7/94,M,PRAKASAM DIST (AP),mediumBalance,150.00,2/8/16,"[13488, 19589, 27388, 10405, 356, 17361, 1012,...","[C1010220, C1010517, C1010561, C1010757, C1011..."
25,25/10/75,M,BANGALORE,mediumBalance,862.44,4/8/16,"[7088, 10995, 27888, 6531, 356, 13529, 5749, 1...","[C1010951, C1011249, C1011360, C1011935, C1013..."
26,1/11/89,M,VADODARA,highBalance,990.00,25/9/16,"[1352, 856, 31606, 10405, 25390, 17361, 13970,...","[C1173449, C1211130, C1273416, C1313825, C1313..."
27,16/10/83,M,MUMBAI,highBalance,220.00,9/9/16,"[9710, 27326, 67778, 10405, 9659, 17361, 6256,...","[C1012369, C1012448, C1012448, C1014336, C1015..."
28,16/2/87,M,HYDERABAD,mediumBalance,199.00,8/8/16,"[13488, 214, 27888, 3043, 356, 2763, 5749, 918...","[C1010942, C1012026, C1012225, C1013236, C1013..."
29,1/1/1800,M,MUMBAI,lowBalance,1933.52,30/8/16,"[19378, 20042, 20443, 3782, 9659, 6270, 6256, ...","[C1010863, C1012259, C1012572, C1013165, C1017..."
30,10/12/86,M,AURANGABAD,highBalance,1137.00,7/8/16,"[16405, 27326, 44020, 10405, 16075, 10823, 228...","[C1014452, C1024789, C1028974, C1112228, C1121..."
31,6/6/69,M,HODEL,highBalance,3000.00,4/8/16,"[23024, 27326, 21039, 1990, 5271, 17361, 18613...","[C1019858, C1019858, C1026771, C1114031, C1126..."
32,1/1/1800,M,CHENNAI,mediumBalance,282.90,17/8/16,"[13488, 27326, 13862, 10405, 356, 6270, 5749, ...","[C1010012, C1010128, C1010129, C1010224, C1010..."
33,7/4/84,F,NEW DELHI,highBalance,1290.23,9/9/16,"[8522, 12769, 13159, 18104, 3198, 34415, 39741...","[C1010028, C1010071, C1010071, C1010074, C1010..."
34,15/9/91,M,SECUNDERABAD,highBalance,2937.48,11/9/16,"[9235, 7747, 13926, 10405, 36126, 13983, 19246...","[C1010190, C1011623, C1013130, C1017572, C1023..."
35,28/1/91,F,N T PUNE,mediumBalance,212.00,10/9/16,"[8132, 12769, 13248, 33056, 356, 63292, 5749, ...","[C1012947, C1013085, C1042315, C1127169, C1311..."
36,6/2/86,M,NEW DELHI,highBalance,3180.00,1/8/16,"[8522, 27326, 6264, 709, 52077, 17361, 33044, ...","[C1011730, C1012716, C1012716, C1012754, C1013..."
37,31/7/87,M,BANGALORE,lowBalance,100.86,14/8/16,"[7088, 557, 6659, 3782, 7833, 3776, 11374, 356...","[C1010753, C1012425, C1012685, C1019114, C1022..."
38,29/5/84,M,NEW DELHI,mediumBalance,5598.00,2/9/16,"[8522, 27326, 13159, 10405, 356, 17361, 3291, ...","[C1010350, C1010350, C1010362, C1010362, C1010..."
39,22/1/88,M,HYDERABAD,mediumBalance,60.00,2/8/16,"[13488, 214, 27388, 10405, 356, 17361, 5749, 6...","[C1010065, C1010065, C1010066, C1010068, C1010..."
40,18/2/87,M,CHENNAI,lowBalance,20.00,24/8/16,"[14971, 20949, 2227, 3782, 18569, 17361, 24768...","[C1016553, C1026416, C1031424, C1032886, C1035..."
41,1/3/86,M,IMPHAL,mediumBalance,203.00,19/8/16,"[2954, 27326, 19145, 10405, 356, 17361, 2313, ...","[C1010551, C1013461, C1013877, C1014251, C1015..."
42,2/11/81,F,NEW DELHI,highBalance,1500.00,12/9/16,"[8522, 12769, 13159, 1689, 3198, 20307, 25943,...","[C1010071, C1011188, C1011692, C1011775, C1012..."
43,2/12/90,F,NEW DELHI,lowBalance,199.00,4/8/16,"[8522, 12769, 13159, 3043, 3198, 30059, 28562,...","[C1010071, C1010522, C1011188, C1013132, C1014..."
44,6/9/72,M,GHAZIABAD,highBalance,347.30,24/8/16,"[14971, 11379, 9552, 10405, 18569, 16144, 1807...","[C1011213, C1011276, C1015780, C1020135, C1020..."
45,30/5/90,F,DELHI,highBalance,250.00,5/9/16,"[32980, 12769, 24660, 1028, 3198, 4124, 4170, ...","[C1058381, C1067047, C1127589, C1128767, C1132..."
46,26/9/74,M,CHENNAI,mediumBalance,60.00,17/8/16,"[13488, 7918, 13862, 10405, 356, 17361, 5749, ...","[C1010066, C1010068, C1010128, C1010157, C1010..."
47,2/7/91,M,DIST NORTH GOA BARDEZ,highBalance,90.00,14/9/16,"[25896, 23491, 36038, 10405, 42518, 17361, 283...","[C1033581, C1035330, C1124123, C1231353, C1324..."
48,7/4/94,F,PUNE,mediumBalance,1014.00,5/9/16,"[13488, 12769, 27888, 7398, 356, 36240, 5749, ...","[C1010014, C1010060, C1010113, C1010241, C1010..."
49,5/1/87,M,DELHI,mediumBalance,240.00,4/9/16,"[13488, 27326, 27888, 10405, 356, 4369, 5749, ...","[C1010012, C1010012, C1010087, C1010128, C1010..."

In [32]:
query.loc[0]

CustomerDOB                    27/7/78
CustGender                           M
CustLocation                     DELHI
CustAccountBalance            94695.61
TransactionDate                 2/9/16
TransactionTime                 140310
TransactionAmount (INR)           65.0
CustGroupsBalance          highBalance
Name: 0, dtype: object

In [44]:
bank_transactions.loc[bank_transactions.CustomerID == 'C1019523']

,TransactionID,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR),CustGroupsBalance
228195,T229826,C1019523,18/4/77,M,DELHI,65461.17,7/8/16,161727,1000.0,highBalance

We can conclude that hashing method works properly with various thresholds, but the computation times are very long and exceed 10 minutes.

## Command Line

### 1. Which location has the maximum number of purchases been made?

In [152]:
bank_transactions.groupby(['CustLocation'])['CustLocation'].count().sort_values(ascending=False).head(1)

CustLocation
MUMBAI    101997
Name: CustLocation, dtype: int64

### 2. In the dataset provided, did females spend more than males, or vice versa?

In [153]:
avgFemalesTransactions = bank_transactions.loc[bank_transactions.CustGender == "F"]['TransactionAmount (INR)'].mean()
avgMalesTransactions = bank_transactions.loc[bank_transactions.CustGender == "M"]['TransactionAmount (INR)'].mean()
print("Total average spent by females: ", avgFemalesTransactions)
print("Total average spent by males: ", avgMalesTransactions)

Total average spent by females:  1643.9584570348936
Total average spent by males:  1537.3411848042588

### 3. Report the customer with the highest average transaction amount in the dataset.

In [154]:
bank_transactions.groupby('CustomerID')['TransactionAmount (INR)'].mean().sort_values(ascending=False).head(1)

CustomerID
C7319271    1560034.99
Name: TransactionAmount (INR), dtype: float64