# Homework 4 - Getting to know your customers

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import random
from sympy import *

## 1. Finding Similar Costumers

The idea behind the work is to implement *Locality-Sensitive Hashing (LSH)* algorithm to find the most similar users to the query.


We mixed up different approaches and we took inspiration mainly from [this site](https://www.learndatasci.com/tutorials/building-recommendation-engine-locality-sensitive-hashing-lsh-python/). The work is structured between the following steps:


<ol>
  <li>Set up the data</li>
  <li>Fingerprint hashing</li>
  <li>Locality Sensitive Hashing</li>
</ol>

### 1.1 Set up the data

For the sake of this first part, not all columns are necessary since comparing each field single handedly can be quite time-expensive. 

We have therefore decided to keep only some columns of the dataset and to create a new one, *CustGroupsBalance*, in order to decrease the number of values ​​to consider and improve the execution time of the algorithm in the next phase.

After the pre-processing phase, the dataset with which we will work is presented.

In [146]:
bank_transactions = pd.read_csv(r"C:\Users\Marina\OneDrive\Desktop\ADM_HW4\bank_transactions.csv")
bank_transactions = bank_transactions.dropna()
bank_transactions = bank_transactions.reset_index(drop=True)

We group the transactions according to their account balance: *lowBalance*, *mediumBalance*, *highBalance*.

In [3]:
groupBalance = []

for balance in bank_transactions['CustAccountBalance']:
    if balance < 5000:
        groupBalance.append('lowBalance')
    elif 5000 <= balance < 50000:
        groupBalance.append('mediumBalance')
    else:
        groupBalance.append('highBalance')
        

bank_transactions['CustGroupsBalance'] = groupBalance

In [6]:
transactions = bank_transactions[['CustomerDOB',  'CustGender', 'CustLocation', 'CustGroupsBalance', 'TransactionAmount (INR)', 'TransactionDate']]
transactions

,CustomerDOB,CustGender,CustLocation,CustGroupsBalance,TransactionAmount (INR),TransactionDate
0,10/1/94,F,JAMSHEDPUR,mediumBalance,25.0,2/8/16
1,4/4/57,M,JHAJJAR,lowBalance,27999.0,2/8/16
2,26/11/96,F,MUMBAI,mediumBalance,459.0,2/8/16
3,14/9/73,F,MUMBAI,highBalance,2060.0,2/8/16
4,24/3/88,F,NAVI MUMBAI,mediumBalance,1762.5,2/8/16
...,...,...,...,...,...,...
1041609,8/4/90,M,NEW DELHI,mediumBalance,799.0,18/9/16
1041610,20/2/92,M,NASHIK,mediumBalance,460.0,18/9/16
1041611,18/5/89,M,HYDERABAD,highBalance,770.0,18/9/16
1041612,30/8/78,M,VISAKHAPATNAM,mediumBalance,1000.0,18/9/16
1041613,5/3/84,M,PUNE,highBalance,1166.0,18/9/16

### 1.2 Fingerprint hashing

We implemented **our MinHash function**: the goal was to replace a large set of values with a smaller *"signature"* that still preserves the underlying similarity metric.

We established the following pipeline:

1. At first, we create the shingles matrix, where a shingle is an individual element that can be a part of a dataset like a character, integer or date.
1. We randomly permute the shingles matrix;
2. For each transaction, start from the top and find the position of the first shingle with a 1 in its cell and use this shingle number to represent the transaction (signature);
3. We repeat it several times and each time we append the result to the signature's matrix.

Since permutation is a computation heavy operation especially for large datasets, we use a hashing/mapping function that typically reorders the elements using the simple math operation:

 $$ h(x) = (ax + b)  \% c  $$
 
 where a and b are random integers smaller than c and c is the prime number slightly higher than the total number of different elements in the dataset (that is the number of elements in the shingles matrix).

In [151]:
def permute(x, a, b, c):
    return (a*x + b) % c

In [150]:
def createShinglesMatrix(df):
    shingles_matrix = []

    for column in df:
        for shingle in df[column].unique():
            shingles_matrix.append(shingle)

    diff = nextprime(len(shingles_matrix)) - len(shingles_matrix)
    for _ in range(diff):
        shingles_matrix.append('NA')

    return shingles_matrix

In [149]:
def createListOfPermutations(arr, permutations):
    listOfPermutations = []
    for j in range(30):
        l = {}
        for i,item in enumerate(arr):
            l[item] = permute(i, permutations[j][0], permutations[j][1], len(arr))

        listOfPermutations.append(l)

    return listOfPermutations

In [13]:
def createSignature(df, listOfPermutations, nPermutations):
    signature_matrix=[]

    for row in df.iterrows():
        signature_k =[]
        for j in range(nPermutations):
            index=[listOfPermutations[j][row[1][s]] for s in range(6)]
            signature_k.append(min(index))
        
        signature_matrix.append(signature_k)

    return signature_matrix

In [14]:
listOfValues = createShinglesMatrix(transactions) # initialization of the shingles matrix
# random values for "a" and "b"
permutations = [(random.randint(0,len(listOfValues)), random.randint(0,len(listOfValues))) for _ in range(30)] 
listOfPermutations = createListOfPermutations(listOfValues, permutations) # initialization of the list of permutations
signatureA = createSignature(transactions, listOfPermutations, 10) 
transactions['signature'] = signatureA # initialization of the signature column in the dataframe

C:\Users\Marina\AppData\Local\Temp\ipykernel_7700\380364362.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transactions['signature'] = signatureA

In [15]:
transactions

,CustomerDOB,CustGender,CustLocation,CustGroupsBalance,TransactionAmount (INR),TransactionDate,signature
0,10/1/94,F,JAMSHEDPUR,mediumBalance,25.0,2/8/16,"[3194, 1103, 7071, 10371, 28368, 6531, 1793, 2..."
1,4/4/57,M,JHAJJAR,lowBalance,27999.0,2/8/16,"[3, 1103, 29793, 34650, 11496, 6531, 1793, 152..."
2,26/11/96,F,MUMBAI,mediumBalance,459.0,2/8/16,"[3194, 1103, 16413, 10371, 8171, 6531, 1793, 1..."
3,14/9/73,F,MUMBAI,highBalance,2060.0,2/8/16,"[39794, 1103, 64020, 13860, 17704, 6531, 981, ..."
4,24/3/88,F,NAVI MUMBAI,mediumBalance,1762.5,2/8/16,"[3194, 1103, 33011, 1343, 39032, 6531, 1793, 5..."
...,...,...,...,...,...,...,...
1041609,8/4/90,M,NEW DELHI,mediumBalance,799.0,18/9/16,"[3, 10043, 22873, 10371, 4062, 12012, 3591, 27..."
1041610,20/2/92,M,NASHIK,mediumBalance,460.0,18/9/16,"[3, 4478, 39270, 10371, 4062, 2758, 59285, 416..."
1041611,18/5/89,M,HYDERABAD,highBalance,770.0,18/9/16,"[3, 2582, 49408, 23443, 2495, 30543, 45535, 18..."
1041612,30/8/78,M,VISAKHAPATNAM,mediumBalance,1000.0,18/9/16,"[3, 10043, 60802, 10371, 1365, 32761, 4103, 26..."
1041613,5/3/84,M,PUNE,highBalance,1166.0,18/9/16,"[3, 10043, 51578, 21347, 4062, 59283, 16215, 1..."

In [16]:
signatureAdf = pd.DataFrame(signatureA)
trasposed_signatureA = signatureAdf.T.copy(deep = True)
trasposed_signatureA.index = [i for i in range(1,11)]
trasposed_signatureA

,0,1,2,3,4,5,6,7,8,9,...,1041604,1041605,1041606,1041607,1041608,1041609,1041610,1041611,1041612,1041613
1,3194,3,3194,39794,3194,30627,21494,3,3194,3,...,21494,3194,3,3,3,3,3,3,3,3
2,1103,1103,1103,1103,1103,1103,1103,1103,1103,1103,...,10043,10043,8367,10043,10043,10043,4478,2582,10043,10043
3,7071,29793,16413,64020,33011,2002,11344,64020,60802,29793,...,3192,38718,32150,13323,12735,22873,39270,49408,60802,51578
4,10371,34650,10371,13860,1343,13860,13860,22133,219,23257,...,3194,10371,10371,60735,7620,10371,10371,23443,10371,21347
5,28368,11496,8171,17704,39032,832,7040,22160,36933,22160,...,4062,4062,4062,4062,4062,4062,4062,2495,1365,4062
6,6531,6531,6531,6531,6531,6531,6531,6531,2410,6531,...,43368,14689,54573,61937,71171,12012,2758,30543,32761,59283
7,1793,1793,1793,981,1793,1793,1793,1793,1793,1793,...,8212,20835,23914,543,21379,3591,59285,45535,4103,16215
8,28641,15261,18800,1881,5420,1881,15261,1881,428,15261,...,15261,14351,19529,15261,15261,275,4166,1881,26230,1881
9,39130,6023,25363,11765,25669,11765,17950,11765,12208,25363,...,44872,13739,38824,38824,28138,20926,29366,11765,34460,11765
10,15913,15913,15913,15913,11802,1701,15913,15913,15913,15913,...,13256,44995,40022,3427,44995,31908,10524,44995,4941,17175

The signature matrix above is now divided into b bands of r rows each and we maps eanch transaction to a specific bucket. In our case, we are setting *b = 2*, which means that we will consider any transactions with the same first two rows to be similar. The larger we make b the less likely there will be another transaction that matches all of the same permutations.

In [17]:
def listAlphabet():
  return list(map(chr, range(97, 123)))

In [18]:
def create_bucktes(b, trasposed_signature): 
    buckets = {}
    letters = listAlphabet()

    for i in range(1, len(trasposed_signature), b):
        sub = pd.DataFrame(trasposed_signature.loc[i:i+b-1].copy(deep = True))
        for col in sub:
            arr = sub[col].to_numpy(copy = True)
            
            k = letters[int(i/2 + 1)]
            for j in range(len(arr)):
                k += str(arr[j])

            if k in buckets:
                buckets[k].append(col)

            else:
                buckets[k] = [col]


    return buckets

In [137]:
bucketsA = create_bucktes(2, trasposed_signatureA)

### 1.3 Locality Sensitive Hashing

We repeat the same procedure done above for the query and we create two new columns:
<ol>
    <li> neighbors: a list of costumer ids that end up in the same bucket; </li>
    <li> similars: a list of costumer ids  whose signature has a similarity of at least a certain threshold. </li>
</ol>

In [20]:
query = pd.read_csv(r"C:\Users\Marina\OneDrive\Desktop\ADM_HW4\query_users.csv")

In [21]:
groupBalance = []

for balance in query['CustAccountBalance']:
    if balance < 5000:
        groupBalance.append('lowBalance')
    elif 5000 <= balance < 50000:
        groupBalance.append('mediumBalance')
    else:
        groupBalance.append('highBalance')
        

query['CustGroupsBalance'] = groupBalance

In [22]:
final_query = query[['CustomerDOB',  'CustGender', 'CustLocation', 'CustGroupsBalance', 'TransactionAmount (INR)', 'TransactionDate']]

In [24]:
#listOfValues = createListOfValues(final_query)
signatureB = create_signature(final_query, listOfPermutations, 10)
final_query['signature'] = signatureB

C:\Users\Marina\AppData\Local\Temp\ipykernel_7700\1761004142.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_query['signature'] = signatureB

In [25]:
final_query

,CustomerDOB,CustGender,CustLocation,CustGroupsBalance,TransactionAmount (INR),TransactionDate,signature
0,27/7/78,M,DELHI,highBalance,65.00,2/9/16,"[3, 25400, 34530, 61031, 22160, 6879, 32121, 1..."
1,6/11/92,M,PANCHKULA,mediumBalance,6025.00,2/9/16,"[3, 2407, 3540, 10371, 22160, 6879, 30687, 253..."
2,14/8/91,M,PATNA,mediumBalance,541.50,10/8/16,"[3, 21176, 23249, 10371, 22160, 62612, 3323, 1..."
3,3/1/87,M,CHENNAI,highBalance,1000.00,29/8/16,"[3, 25400, 68846, 20321, 1365, 18593, 43656, 1..."
4,4/1/95,M,GURGAON,highBalance,80.00,25/9/16,"[3, 7063, 49165, 281, 22160, 2410, 45535, 1881..."
5,10/1/81,M,WORLD TRADE CENTRE BANGALORE,mediumBalance,303.00,11/9/16,"[3, 30655, 5680, 10371, 22160, 17492, 67812, 6..."
6,20/9/76,F,CHITTOOR,mediumBalance,20.00,28/8/16,"[3194, 31679, 20447, 10371, 27836, 887, 20748,..."
7,10/4/91,M,MOHALI,lowBalance,50.00,2/8/16,"[3, 1103, 29793, 16648, 13721, 6531, 1793, 152..."
8,19/3/90,M,MOHALI,lowBalance,300.00,26/8/16,"[3, 21110, 19845, 54568, 3028, 36725, 10439, 5..."
9,19/12/70,M,SERAMPORE,highBalance,299.00,27/8/16,"[3, 5573, 37370, 14451, 22160, 6978, 2857, 188..."
10,26/2/89,M,BANGALORE,mediumBalance,300.00,6/8/16,"[3, 35781, 12735, 7620, 3028, 36725, 5584, 539..."
11,22/8/84,M,BANGALORE,lowBalance,2244.00,11/8/16,"[3, 35781, 12735, 7620, 6508, 39616, 2575, 152..."
12,21/9/79,M,LUDHIANA,mediumBalance,690.00,22/8/16,"[3, 4083, 15223, 10371, 13063, 30481, 6684, 28..."
13,17/6/92,F,BANGALORE,mediumBalance,4912.00,12/8/16,"[3194, 15646, 12735, 7620, 8954, 24829, 21379,..."
14,1/8/86,M,HYDERABAD,mediumBalance,284.00,11/9/16,"[3, 2582, 5680, 10371, 2495, 18854, 16536, 263..."
15,1/1/1800,M,GURGAON,mediumBalance,1000.00,31/8/16,"[3, 30227, 58155, 10371, 1365, 2410, 16957, 10..."
16,17/12/91,F,MUMBAI,lowBalance,401.00,5/8/16,"[21494, 38453, 4490, 13860, 1491, 38074, 27861..."
17,1/1/1800,M,NEW DELHI,highBalance,1347.00,9/8/16,"[3, 19829, 22873, 62841, 15605, 31003, 45535, ..."
18,7/7/93,M,GURGAON,mediumBalance,60.00,8/9/16,"[3, 35781, 60802, 10371, 22160, 2410, 42682, 2..."
19,21/6/89,M,CHENNAI,mediumBalance,404.00,3/8/16,"[3, 7343, 35499, 10371, 22160, 83059, 37602, 8..."
20,18/9/82,F,NOIDA,highBalance,40000.00,22/8/16,"[984, 4083, 15223, 13860, 13063, 30481, 28492,..."
21,21/8/62,F,BANGALORE,highBalance,1280.00,14/9/16,"[27402, 25400, 12735, 7620, 32373, 44903, 9345..."
22,17/8/88,M,NEW DELHI,highBalance,197.00,10/8/16,"[3, 18006, 17252, 59635, 15605, 14428, 45535, ..."
23,5/12/65,M,AHMEDABAD,mediumBalance,3460.00,28/8/16,"[3, 24218, 30677, 10371, 22160, 18443, 665, 54..."
24,10/7/94,M,PRAKASAM DIST (AP),mediumBalance,150.00,2/8/16,"[3, 1103, 14306, 10371, 22160, 6531, 1793, 199..."
25,25/10/75,M,BANGALORE,mediumBalance,862.44,4/8/16,"[3, 19974, 12735, 6583, 12478, 30845, 21379, 2..."
26,1/11/89,M,VADODARA,highBalance,990.00,25/9/16,"[3, 7063, 51896, 20174, 22160, 16132, 19420, 1..."
27,16/10/83,M,MUMBAI,highBalance,220.00,9/9/16,"[3, 8553, 10749, 23257, 8800, 1409, 32283, 188..."
28,16/2/87,M,HYDERABAD,mediumBalance,199.00,8/8/16,"[3, 2582, 49408, 10371, 2495, 42282, 58820, 83..."
29,1/1/1800,M,MUMBAI,lowBalance,1933.52,30/8/16,"[3, 15997, 16, 6025, 4292, 6792, 4404, 10081, ..."
30,10/12/86,M,AURANGABAD,highBalance,1137.00,7/8/16,"[3, 2593, 56370, 23687, 22160, 2584, 32678, 18..."
31,6/6/69,M,HODEL,highBalance,3000.00,4/8/16,"[3, 24152, 57978, 18039, 8843, 59283, 42174, 1..."
32,1/1/1800,M,CHENNAI,mediumBalance,282.90,17/8/16,"[3, 285, 20292, 10371, 22160, 31003, 16826, 10..."
33,7/4/84,F,NEW DELHI,highBalance,1290.23,9/9/16,"[39794, 6144, 2646, 13860, 15605, 50049, 9846,..."
34,15/9/91,M,SECUNDERABAD,highBalance,2937.48,11/9/16,"[3, 964, 5680, 20137, 22160, 18854, 45535, 188..."
35,28/1/91,F,N T PUNE,mediumBalance,212.00,10/9/16,"[3194, 3858, 20138, 10371, 10028, 6966, 17045,..."
36,6/2/86,M,NEW DELHI,highBalance,3180.00,1/8/16,"[3, 16890, 22873, 49920, 15605, 50049, 15833, ..."
37,31/7/87,M,BANGALORE,lowBalance,100.86,14/8/16,"[3, 10308, 12735, 6240, 12744, 6921, 18639, 15..."
38,29/5/84,M,NEW DELHI,mediumBalance,5598.00,2/9/16,"[3, 35781, 22873, 10371, 8067, 6879, 29581, 17..."
39,22/1/88,M,HYDERABAD,mediumBalance,60.00,2/8/16,"[3, 1103, 10440, 10371, 2495, 6531, 1793, 2636..."
40,18/2/87,M,CHENNAI,lowBalance,20.00,24/8/16,"[3, 17136, 29793, 51448, 22160, 887, 21343, 15..."
41,1/3/86,M,IMPHAL,mediumBalance,203.00,19/8/16,"[3, 30189, 52051, 10371, 5426, 2832, 61511, 24..."
42,2/11/81,F,NEW DELHI,highBalance,1500.00,12/9/16,"[12191, 24107, 15776, 6459, 15605, 30742, 506,..."
43,2/12/90,F,NEW DELHI,lowBalance,199.00,4/8/16,"[8623, 38453, 22873, 13860, 15605, 50049, 2849..."
44,6/9/72,M,GHAZIABAD,highBalance,347.30,24/8/16,"[3, 12655, 43744, 29534, 22160, 24353, 45535, ..."
45,30/5/90,F,DELHI,highBalance,250.00,5/9/16,"[8521, 25400, 45624, 13860, 77143, 29648, 2133..."
46,26/9/74,M,CHENNAI,mediumBalance,60.00,17/8/16,"[3, 25708, 20292, 10371, 22160, 71693, 42682, ..."
47,2/7/91,M,DIST NORTH GOA BARDEZ,highBalance,90.00,14/9/16,"[3, 25400, 31620, 13698, 22160, 23967, 17426, ..."
48,7/4/94,F,PUNE,mediumBalance,1014.00,5/9/16,"[3194, 34659, 32784, 10371, 39032, 53722, 5314..."
49,5/1/87,M,DELHI,mediumBalance,240.00,4/9/16,"[3, 7815, 15486, 10371, 22160, 26142, 25868, 7..."

In [26]:
signatureBdf = pd.DataFrame(signatureB)
trasposed_signatureB = signatureBdf.T.copy(deep = True)
trasposed_signatureB.index = [i for i in range(1,11)]
trasposed_signatureB

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
1,3,3,3,3,3,3,3194,3,3,3,...,3,3,12191,8623,3,8521,3,3,3194,3
2,25400,2407,21176,25400,7063,30655,31679,1103,21110,5573,...,17136,30189,24107,38453,12655,25400,25708,25400,34659,7815
3,34530,3540,23249,68846,49165,5680,20447,29793,19845,37370,...,29793,52051,15776,22873,43744,45624,20292,31620,32784,15486
4,61031,10371,10371,20321,281,10371,10371,16648,54568,14451,...,51448,10371,6459,13860,29534,13860,10371,13698,10371,10371
5,22160,22160,22160,1365,22160,22160,27836,13721,3028,22160,...,22160,5426,15605,15605,22160,77143,22160,22160,39032,22160
6,6879,6879,62612,18593,2410,17492,887,6531,36725,6978,...,887,2832,30742,50049,24353,29648,71693,23967,53722,26142
7,32121,30687,3323,43656,45535,67812,20748,1793,10439,2857,...,21343,61511,506,28492,45535,21336,42682,17426,5314,25868
8,1881,25341,19295,1881,1881,6763,5419,15261,5393,1881,...,15261,2432,1881,15261,1881,1881,28641,1060,2513,7452
9,11765,4737,28942,4626,11765,38824,28291,11902,11902,5132,...,4626,13739,11765,26686,11765,6881,4626,11765,71931,37733
10,47530,5111,53554,2572,21812,14257,2353,15913,52492,20793,...,38287,50967,2108,31908,29620,51378,4928,857,680,23662

In [90]:
bucketsB = create_bucktes(2, trasposed_signatureB)

In [115]:
dic = {}

for k,v in bucketsB.items():
    if k in bucketsA:
        for el in v:
            for el2 in bucketsA[k]:
                if el in dic:
                    dic[el].append(bank_transactions.loc[el2]['CustomerID'])
                else:
                    dic[el] = [bank_transactions.loc[el2]['CustomerID']]

In [129]:
for k,v in dic.items():
    final_query['neighbors'].loc[k] = sorted(v)

C:\Users\Marina\AppData\Local\Temp\ipykernel_7700\4156464997.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_query['neighbors'].loc[k] = sorted(v)

In [107]:
def jaccard_similarity(signA, signB):
    return sum([1 for a, b in zip(signA, signB) if a == b]) / len(signA)

def find_similars(transactions, query, threshold):
    similars = {idx:[] for idx, val in enumerate(query.signature)}
    for idx1, signA in query['signature'].iteritems():
        for idx2, signB in transactions['signature'].iteritems():
            sim = jaccard_similarity(signA, signB)
            if sim >= threshold:
                similars[idx1].append(bank_transactions.loc[idx2]['CustomerID'])
            
    return similars

In [136]:
similars = find_similars(transactions, final_query, 0.6)

In [130]:
for k,v in similars.items():
    final_query['similars'].loc[k] = sorted(v)

C:\Users\Marina\AppData\Local\Temp\ipykernel_7700\3186389398.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_query['similars'].loc[k] = sorted(v)

In [131]:
final_query

,CustomerDOB,CustGender,CustLocation,CustGroupsBalance,TransactionAmount (INR),TransactionDate,signature,neighbors,similars
0,27/7/78,M,DELHI,highBalance,65.00,2/9/16,"[3, 25400, 34530, 61031, 22160, 6879, 32121, 1...","[C1010011, C1010075, C1010085, C1010089, C1010...","[C1015370, C1016550, C1016639, C1018774, C1022..."
1,6/11/92,M,PANCHKULA,mediumBalance,6025.00,2/9/16,"[3, 2407, 3540, 10371, 22160, 6879, 30687, 253...","[C1010636, C1010670, C1011124, C1011670, C1011...","[C2124065, C2424017, C2424023, C3224067, C3524..."
2,14/8/91,M,PATNA,mediumBalance,541.50,10/8/16,"[3, 21176, 23249, 10371, 22160, 62612, 3323, 1...","[C1010835, C1016144, C1019214, C1019969, C1020...","[C1632230, C2038950, C3617630, C4311226, C4918..."
3,3/1/87,M,CHENNAI,highBalance,1000.00,29/8/16,"[3, 25400, 68846, 20321, 1365, 18593, 43656, 1...","[C1010011, C1010075, C1010085, C1010089, C1010...","[C1140113, C1314618, C1327427, C1761138, C1880..."
4,4/1/95,M,GURGAON,highBalance,80.00,25/9/16,"[3, 7063, 49165, 281, 22160, 2410, 45535, 1881...","[C1010035, C1010036, C1010051, C1010112, C1010...","[C1012250, C1013392, C1016748, C1017723, C1018..."
5,10/1/81,M,WORLD TRADE CENTRE BANGALORE,mediumBalance,303.00,11/9/16,"[3, 30655, 5680, 10371, 22160, 17492, 67812, 6...","[C1010780, C1011266, C1011464, C1012629, C1012...","[C1016630, C1121450, C1417377, C1473957, C1559..."
6,20/9/76,F,CHITTOOR,mediumBalance,20.00,28/8/16,"[3194, 31679, 20447, 10371, 27836, 887, 20748,...","[C1010729, C1010761, C1010820, C1010891, C1010...","[C1010891, C1141256, C1239323, C1311731, C1336..."
7,10/4/91,M,MOHALI,lowBalance,50.00,2/8/16,"[3, 1103, 29793, 16648, 13721, 6531, 1793, 152...","[C1010243, C1010314, C1010352, C1010766, C1010...","[C1010771, C1012432, C1012679, C1016516, C1017..."
8,19/3/90,M,MOHALI,lowBalance,300.00,26/8/16,"[3, 21110, 19845, 54568, 3028, 36725, 10439, 5...","[C1010136, C1010136, C1010245, C1010551, C1010...","[C1228171, C1236486, C1335022, C1414084, C1624..."
9,19/12/70,M,SERAMPORE,highBalance,299.00,27/8/16,"[3, 5573, 37370, 14451, 22160, 6978, 2857, 188...","[C1010046, C1010249, C1010470, C1011112, C1011...","[C1314883, C1414814, C1814840, C2914879, C6014..."
10,26/2/89,M,BANGALORE,mediumBalance,300.00,6/8/16,"[3, 35781, 12735, 7620, 3028, 36725, 5584, 539...","[C1010012, C1010031, C1010031, C1010035, C1010...","[C1011747, C1014087, C1014828, C1017612, C1017..."
11,22/8/84,M,BANGALORE,lowBalance,2244.00,11/8/16,"[3, 35781, 12735, 7620, 6508, 39616, 2575, 152...","[C1010012, C1010031, C1010031, C1010035, C1010...","[C1010684, C1021188, C1024650, C1028839, C1031..."
12,21/9/79,M,LUDHIANA,mediumBalance,690.00,22/8/16,"[3, 4083, 15223, 10371, 13063, 30481, 6684, 28...","[C1010669, C1010822, C1011243, C1011243, C1011...","[C1013026, C1014670, C1016130, C1016958, C1017..."
13,17/6/92,F,BANGALORE,mediumBalance,4912.00,12/8/16,"[3194, 15646, 12735, 7620, 8954, 24829, 21379,...","[C1010135, C1010214, C1010232, C1010357, C1010...","[C1018384, C1033865, C1037337, C1076627, C1125..."
14,1/8/86,M,HYDERABAD,mediumBalance,284.00,11/9/16,"[3, 2582, 5680, 10371, 2495, 18854, 16536, 263...","[C1010116, C1010244, C1010244, C1010276, C1010...","[C1030540, C1114115, C1141084, C1221659, C1238..."
15,1/1/1800,M,GURGAON,mediumBalance,1000.00,31/8/16,"[3, 30227, 58155, 10371, 1365, 2410, 16957, 10...","[C1010129, C1010350, C1010362, C1010362, C1010...","[C1010362, C1010427, C1010626, C1010671, C1021..."
16,17/12/91,F,MUMBAI,lowBalance,401.00,5/8/16,"[21494, 38453, 4490, 13860, 1491, 38074, 27861...","[C1010012, C1010018, C1010064, C1010087, C1010...","[C1014382, C1021430, C1027945, C1032969, C1114..."
17,1/1/1800,M,NEW DELHI,highBalance,1347.00,9/8/16,"[3, 19829, 22873, 62841, 15605, 31003, 45535, ...","[C1010035, C1010036, C1010051, C1010051, C1010...","[C1010051, C1010316, C1010440, C1010734, C1011..."
18,7/7/93,M,GURGAON,mediumBalance,60.00,8/9/16,"[3, 35781, 60802, 10371, 22160, 2410, 42682, 2...","[C1010012, C1010031, C1010031, C1010035, C1010...","[C1012444, C1013033, C1013444, C1016136, C1019..."
19,21/6/89,M,CHENNAI,mediumBalance,404.00,3/8/16,"[3, 7343, 35499, 10371, 22160, 83059, 37602, 8...","[C1010031, C1010243, C1010413, C1011590, C1012...","[C1026367, C1125073, C1534245, C1639531, C1817..."
20,18/9/82,F,NOIDA,highBalance,40000.00,22/8/16,"[984, 4083, 15223, 13860, 13063, 30481, 28492,...","[C1010028, C1010041, C1010072, C1010074, C1010...","[C1011588, C1012938, C1019858, C1020920, C1021..."
21,21/8/62,F,BANGALORE,highBalance,1280.00,14/9/16,"[27402, 25400, 12735, 7620, 32373, 44903, 9345...","[C1010135, C1010214, C1010232, C1010357, C1010...","[C1588052, C1714220, C1935412, C2117976, C2212..."
22,17/8/88,M,NEW DELHI,highBalance,197.00,10/8/16,"[3, 18006, 17252, 59635, 15605, 14428, 45535, ...","[C1010035, C1010036, C1010051, C1010190, C1010...","[C1031435, C1128557, C1216721, C1384018, C1428..."
23,5/12/65,M,AHMEDABAD,mediumBalance,3460.00,28/8/16,"[3, 24218, 30677, 10371, 22160, 18443, 665, 54...","[C1010492, C1010641, C1010647, C1010757, C1010...","[C2121167, C2234474, C3621190, C4113370, C4331..."
24,10/7/94,M,PRAKASAM DIST (AP),mediumBalance,150.00,2/8/16,"[3, 1103, 14306, 10371, 22160, 6531, 1793, 199...","[C1010243, C1010314, C1010352, C1010517, C1010...","[C1014482, C1014813, C1015476, C1017718, C1018..."
25,25/10/75,M,BANGALORE,mediumBalance,862.44,4/8/16,"[3, 19974, 12735, 6583, 12478, 30845, 21379, 2...","[C1010135, C1010274, C1010652, C1010826, C1010...","[C2016626, C2316617, C4516628, C4916675, C6216..."
26,1/11/89,M,VADODARA,highBalance,990.00,25/9/16,"[3, 7063, 51896, 20174, 22160, 16132, 19420, 1...","[C1010248, C1010291, C1010930, C1011148, C1011...","[C1011790, C1017484, C1018650, C1084025, C1114..."
27,16/10/83,M,MUMBAI,highBalance,220.00,9/9/16,"[3, 8553, 10749, 23257, 8800, 1409, 32283, 188...","[C1010165, C1010752, C1011022, C1011243, C1011...","[C1016820, C1036433, C1038924, C1131949, C1215..."
28,16/2/87,M,HYDERABAD,mediumBalance,199.00,8/8/16,"[3, 2582, 49408, 10371, 2495, 42282, 58820, 83...","[C1010116, C1010244, C1010276, C1010577, C1010...","[C1022027, C1027447, C1039952, C1040724, C1046..."
29,1/1/1800,M,MUMBAI,lowBalance,1933.52,30/8/16,"[3, 15997, 16, 6025, 4292, 6792, 4404, 10081, ...","[C1010012, C1010087, C1010273, C1010915, C1011...","[C1337292, C2213067, C2337262, C2537248, C4322..."
30,10/12/86,M,AURANGABAD,highBalance,1137.00,7/8/16,"[3, 2593, 56370, 23687, 22160, 2584, 32678, 18...","[C1010014, C1010014, C1010291, C1010547, C1010...","[C1010014, C1010622, C1011273, C1013064, C1014..."
31,6/6/69,M,HODEL,highBalance,3000.00,4/8/16,"[3, 24152, 57978, 18039, 8843, 59283, 42174, 1...","[C1022566, C1042585, C1114031, C1117532, C1124...","[C1437445, C1737434, C2337466, C3037462, C3637..."
32,1/1/1800,M,CHENNAI,mediumBalance,282.90,17/8/16,"[3, 285, 20292, 10371, 22160, 31003, 16826, 10...","[C1010323, C1010413, C1010470, C1010678, C1010...","[C1012481, C1026655, C1098654, C1114469, C1214..."
33,7/4/84,F,NEW DELHI,highBalance,1290.23,9/9/16,"[39794, 6144, 2646, 13860, 15605, 50049, 9846,...","[C1010977, C1011343, C1011692, C1012053, C1013...","[C1025748, C1119735, C1137048, C1137740, C1235..."
34,15/9/91,M,SECUNDERABAD,highBalance,2937.48,11/9/16,"[3, 964, 5680, 20137, 22160, 18854, 45535, 188...","[C1010035, C1010036, C1010051, C1010190, C1010...","[C1010190, C1015842, C1015878, C1020411, C1021..."
35,28/1/91,F,N T PUNE,mediumBalance,212.00,10/9/16,"[3194, 3858, 20138, 10371, 10028, 6966, 17045,...","[C1132386, C1415931, C1635962, C1936721, C2012...",[C8455930]
36,6/2/86,M,NEW DELHI,highBalance,3180.00,1/8/16,"[3, 16890, 22873, 49920, 15605, 50049, 15833, ...","[C1010078, C1010578, C1010977, C1011252, C1011...","[C1011343, C1014338, C1016944, C1020057, C1022..."
37,31/7/87,M,BANGALORE,lowBalance,100.86,14/8/16,"[3, 10308, 12735, 6240, 12744, 6921, 18639, 15...","[C1135730, C1135730, C1219551, C1360336, C1437...","[C1135730, C1437623, C2323673, C2735729, C3025..."
38,29/5/84,M,NEW DELHI,mediumBalance,5598.00,2/9/16,"[3, 35781, 22873, 10371, 8067, 6879, 29581, 17...","[C1010012, C1010031, C1010031, C1010035, C1010...","[C1013056, C1018122, C1018564, C1019048, C1026..."
39,22/1/88,M,HYDERABAD,mediumBalance,60.00,2/8/16,"[3, 1103, 10440, 10371, 2495, 6531, 1793, 2636...","[C1010243, C1010314, C1010352, C1010365, C1010...","[C1010365, C1011560, C1012432, C1013449, C1013..."
40,18/2/87,M,CHENNAI,lowBalance,20.00,24/8/16,"[3, 17136, 29793, 51448, 22160, 887, 21343, 15...","[C1010342, C1010921, C1011263, C1011452, C1012...","[C1014629, C1020861, C1025734, C1026458, C1026..."
41,1/3/86,M,IMPHAL,mediumBalance,203.00,19/8/16,"[3, 30189, 52051, 10371, 5426, 2832, 61511, 24...","[C1010133, C1010816, C1011040, C1012732, C1012...",[]
42,2/11/81,F,NEW DELHI,highBalance,1500.00,12/9/16,"[12191, 24107, 15776, 6459, 15605, 30742, 506,...","[C1010311, C1010374, C1010437, C1010837, C1011...","[C1019481, C1022585, C1030081, C1031140, C1034..."
43,2/12/90,F,NEW DELHI,lowBalance,199.00,4/8/16,"[8623, 38453, 22873, 13860, 15605, 50049, 2849...","[C1010046, C1010050, C1010071, C1010074, C1010...","[C1012774, C1016690, C1017260, C1018272, C1020..."
44,6/9/72,M,GHAZIABAD,highBalance,347.30,24/8/16,"[3, 12655, 43744, 29534, 22160, 24353, 45535, ...","[C1010035, C1010036, C1010051, C1010081, C1010...","[C1010678, C1015780, C1016949, C1020135, C1020..."
45,30/5/90,F,DELHI,highBalance,250.00,5/9/16,"[8521, 25400, 45624, 13860, 77143, 29648, 2133...","[C1013723, C1023947, C1024674, C1029065, C1031...","[C5914279, C7414240]"
46,26/9/74,M,CHENNAI,mediumBalance,60.00,17/8/16,"[3, 25708, 20292, 10371, 22160, 71693, 42682, ...","[C1010136, C1010245, C1011248, C1011359, C1012...","[C1012861, C1014333, C1014412, C1025964, C1087..."
47,2/7/91,M,DIST NORTH GOA BARDEZ,highBalance,90.00,14/9/16,"[3, 25400, 31620, 13698, 22160, 23967, 17426, ...","[C1010011, C1010075, C1010085, C1010089, C1010...","[C1013744, C1017512, C1020965, C1021645, C1023..."
48,7/4/94,F,PUNE,mediumBalance,1014.00,5/9/16,"[3194, 34659, 32784, 10371, 39032, 53722, 5314...","[C1012129, C1012477, C1016816, C1018462, C1020...","[C1613276, C1661786, C2919288, C3221589, C3528..."
49,5/1/87,M,DELHI,mediumBalance,240.00,4/9/16,"[3, 7815, 15486, 10371, 22160, 26142, 25868, 7...","[C1011688, C1012242, C1013191, C1013744, C1015...","[C1032730, C1032990, C1039534, C1041885, C1112..."

In [135]:
query.loc[49]

CustomerDOB                       5/1/87
CustGender                             M
CustLocation                       DELHI
CustAccountBalance              10989.03
TransactionDate                   4/9/16
TransactionTime                   113240
TransactionAmount (INR)            240.0
CustGroupsBalance          mediumBalance
Name: 49, dtype: object

In [138]:
bank_transactions[bank_transactions.CustomerID == 'C1011688']

,TransactionID,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR),CustGroupsBalance
268624,T270535,C1011688,13/10/88,M,GURGAON,66251.44,12/8/16,201440,240.0,highBalance
755189,T760478,C1011688,26/8/91,M,BANGALORE,13051.11,1/9/16,161906,297.0,mediumBalance

In [139]:
bank_transactions[bank_transactions.CustomerID == 'C1032730']

,TransactionID,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR),CustGroupsBalance
874300,T880289,C1032730,7/2/86,M,THANE,17361.99,8/9/16,225450,240.0,mediumBalance

In [141]:
len(set(final_query.loc[0]['neighbors']).intersection(set(final_query.loc[0]['similars'])))

1423

In [142]:
len(set(final_query.loc[1]['neighbors']).intersection(set(final_query.loc[1]['similars'])))

13

## Command Line

### 1. Which location has the maximum number of purchases been made?

In [152]:
bank_transactions.groupby(['CustLocation'])['CustLocation'].count().sort_values(ascending=False).head(1)

CustLocation
MUMBAI    101997
Name: CustLocation, dtype: int64

### 2. In the dataset provided, did females spend more than males, or vice versa?

In [153]:
avgFemalesTransactions = bank_transactions.loc[bank_transactions.CustGender == "F"]['TransactionAmount (INR)'].mean()
avgMalesTransactions = bank_transactions.loc[bank_transactions.CustGender == "M"]['TransactionAmount (INR)'].mean()
print("Total average spent by females: ", avgFemalesTransactions)
print("Total average spent by males: ", avgMalesTransactions)

Total average spent by females:  1643.9584570348936
Total average spent by males:  1537.3411848042588

### 3. Report the customer with the highest average transaction amount in the dataset.

In [154]:
bank_transactions.groupby('CustomerID')['TransactionAmount (INR)'].mean().sort_values(ascending=False).head(1)

CustomerID
C7319271    1560034.99
Name: TransactionAmount (INR), dtype: float64